@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro';
}

nav {
    background-image: linear-gradient(to right, #007090, #4498B0);
}

.logo {
    margin: 35px 0px 0px 90px;
    float: left;
}

.logo:hover {
    cursor: pointer; 
}

nav ul {
    padding-top: 30px;
    padding-right: 100px;
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
}

nav a {
    float: right;
    color: #ffff;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

nav button:hover {
    background-color: #b6f8b4;
    cursor: pointer;
    color: #0000005e;
}

nav button {
    float: right;
    border: none;
    background-color: #87D68D;
    padding: 14px 16px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    color: #00000099;
}
nav button a {
    padding: 0;
    font-size: 13px;
    color: #00000099;
}

.flex-container {
    display: flex;
    margin-left: 100px;
    padding-right: 30px;
}

.flex-child{
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px
}

.flex-child h1 {
    padding: 80px 15px 0px 0px;
    font-size: 85px;
    font-weight: 700;
    color: #ffff;
}

.flex-child p {
    margin: 23px 0px 40px 0px;
    font-size: 18px;
    color: #ffff;
    font-weight: 300;
}

#free {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 20px 30px;
    border-radius: 40px;
    color: #00000099;
    background-color: #87D68D;
}

#free:hover {
    background-color: #b6f8b4;
    cursor: pointer;
    color: #0000005e;
}

#demo {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
    background-color: transparent;
}

#demo:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.715);
    color: rgba(255, 255, 255, 0.715);
}

.hero {
    padding-top: 70px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, #007090, #4498B0);
}

main .first-section {
    padding: 120px 0px 0px 0px;
    background-image: linear-gradient(to bottom, #F7FFF6, #F1FFEF);
    text-align: center;
    color: #000000CF;
}

.first-section img {
    margin-bottom: 200px;
}

.first-section h2 {
    font-size: 34px;
    margin-bottom: 40px;
}

.first-section p {
    font-size: 19px;
    padding: 0px 140px 40px
}

#learn-more {
    font-size: 17px;
    font-weight: 300;
    border: none;
    background-color: #ACF29A;
    color: #000000CF;
    border-radius: 30px;
    padding: 20px 70px;
    margin: 60px 0px 60px;
}

#learn-more:hover {
    background-color: #b6f8b4;
    cursor: pointer;
    color: #0000005e;
}

main .second-section {
    padding: 0px 0px 200px 0px;
    background-image: linear-gradient(to bottom, #F1FFEF, #DDEEF2);
}

.second-section .flex-child h1 {
    font-size: 54px;
    color: #000000CF
}

.second-section .flex-child p {
    font-size: 19px;
    font-weight: 300;
    padding: 0px 0px 0px 0px;
    color: #000000CF;
}

.second-section .flex-child #free {
    font-size: 18px;
    font-weight: 300;
    padding: 20px 50px;
    background-color: #ACF29A;
    color: black;
}

.second-section .flex-child #free:hover {
    font-size: 18px;
    font-weight: 300;
    padding: 20px 50px;
    background-color: #b6f8b4;
    cursor: pointer;
    color: #0000005e;
}

.second-section .flex-child #demo {
    border: 2px solid #007090;
    color: #007090;
}

.second-section .flex-child #demo:hover {
    border: 2px solid #01a2cf;
    color: #01a2cf;
}

.second-section strong {
    font-weight: 700;
}

.second-section .flex-child:first-child {
    margin-right: 30px;
}

.second-section .flex-container {
    display: flex;
    margin-left: 200px;
    padding-right: 150px;
}

#border {
    margin: 50px 0px;
    border: 1px dashed #104C2D;
}

#smaller {
    padding: 0px 60px 0px 0px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.img1 {
  position: absolute;
  margin-top: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}
.img2 {
  position: relative;
  margin-top: 80px;
  top: 30px;
  left: 30px;
}